<div class="wrapper">
  <nav class="menu">
    <ul class="menu__list">
      <li data-active-color="#FFFFFF" class="menu__item _active">
        <a href="#" class="menu__link">Home</a>
      </li>
      <li data-active-color="#FF6961" class="menu__item">
        <a href="#" class="menu__link">About</a>
      </li>
      <li data-active-color="#779ECB" class="menu__item">
        <a href="#" class="menu__link">Portfolio</a>
      </li>
      <li data-active-color="#77DD77" class="menu__item">
        <a href="#" class="menu__link">Contacts</a>
      </li>
    </ul>
    <div class="menu__active"><span></span></div>
  </nav>
</div>
